Cython==3.0.10
flet==0.23.2
llama_cpp_python==0.2.78
nemo_toolkit[all]
nemo-text-processing==0.1.8rc0
noisereduce==3.0.2
numpy==1.23.5
pandas==2.2.2
pyaudio==0.2.14
transformers==4.33.3
vosk_tts==0.3.54
num2words

torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
-f https://download.pytorch.org/whl/cu118